<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Forum App</title>
  </head>
  <body>
    <div id="app">
      <div v-if="page == 'login'">
        <h1>Login Form</h1>
        <input
          type="text"
          placeholder="Email/Username"
          v-model="loginEmailInput"
        />
        <br /><br />
        <input
          type="password"
          placeholder="Password"
          v-model="loginPasswordInput"
        />
        <br /><br />
        <button @click="postSession()">Log In</button>
        <button @click="page = 'registration', errorMessage = ''">
          Create New User
        </button>
        <h3 class="error-message">{{ errorMessage }}</h3>
      </div>

      <div v-if="page == 'registration'">
        <h1>Registration Form</h1>
        <input v-model="newEmailInput" placeholder="Email" />
        <br /><br />
        <input
          type="password"
          v-model="newPasswordInput"
          placeholder="Password"
        />
        <br /><br />
        <input v-model="newFullNameInput" placeholder="Full Name" />
        <br /><br />
        <button @click="postUser()">Register</button>
        <h3 class="error-message">{{ errorMessage }}</h3>
      </div>

      <div v-if="page =='logged in'">
        <h1 style="border-bottom: 1px solid black">Forum App</h1>
        <br />
        <div v-for="(thread, index) in threads">
          <h1 class="thread" @click="getThread(thread._id), page = 'thread'">
            {{thread.name}}
          </h1>
          <p>{{thread.description}}</p>
        </div>
      </div>

      <div v-if="page == 'thread'">
        <button @click="page='logged in'">Go Back</button>
        <h1>{{currentThread.name}}</h1>
        <p>{{currentThread.description}}</p>
        <i>{{currentThread.user.username}}</i>
        <br />

        <br />
        <div v-for="(post,index) in currentThread.posts">
          {{currentThread.posts[index].body}} -
          <i>{{currentThread.posts[index].user.username}}</i>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
