* {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

div {
  text-align: center;
}

input {
  text-align: center;
}

.error-message {
  color: red;
}

.thread {
  cursor: pointer;
}
